# Global
.DS_Store
.env
*.log

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Backend (Django)
FR-api/.env
FR-api/__pycache__/
FR-api/**/*.pyc
FR-api/**/migrations/__pycache__/
FR-api/**/migrations/*.py
!FR-api/**/migrations/__init__.py
FR-api/*.sqlite3
FR-api/static/
FR-api/media/

# VSCode / PyCharm / other IDEs
.vscode/
.idea/


